@* @model IEnumerable<HospitalManagement.BusinessLayer.DTOs.Setup.AppointmentDTO> *@
@model HospitalManagement.BusinessLayer.DTOs.Setup.AppointmentDTO

@{
    ViewData["Title"] = "Appointment List";
}

<h2>Appointment List</h2>
<button onclick="CreateAppointment()">Add Appointment</button>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Start Time</th>
                <th>End Time </th>
                <th>Appointment Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.AppointmentDTOs != null && Model.AppointmentDTOs.Any())
            {
                foreach (var patient in Model.AppointmentDTOs)
                {

                    <tr>
                        <td>@patient.Title</td>
                        <td>@patient.Description</td>
                        <td>@patient.StartTime</td>
                        <td>@patient.EndTime</td>
                        <td>@HospitalManagement.BusinessLayer.Helper.DBNullHandler.FormatDateTime(@patient.AppointmentDate)</td>
                        <td>
                            <a href="@Url.Action("Create", "Appointment", new { mnId = patient.AppointmentId })" class="btn btn-primary btn-sm">Edit</a>
                            <a href="@Url.Action("Delete", "Appointment", new { mnId = patient.AppointmentId })" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this patient?');">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center">No patient records found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function CreateAppointment() {
        window.location.href = "Appointment/Create";
    }
</script>